* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

.title {
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
}

.userStyle {
    font-size: 2rem;
    text-align: center;
    margin-top: 0.5rem;
}

.info {
    font-weight: bold;
    color: red;
}